* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: Arial, sans-serif;
}

.map_container {
    width: 100%;

}

.map_container .map_canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.side-nav {
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 50;
	width: 300px;
	max-width: 90%;
}

.side-nav_content {
    display: block;
}

.btn-location {
    width: 100%;
    opacity: 0.5;
}

.btn-location:hover {
    color: red;
    opacity: 1;
}

.location-info {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 90;
    width: 300px;
}

.location-info_content {
    width: auto;
    overflow-y: hidden;
    background: #FFF;
}

.location-info_content_wiki {
    margin: 5px 10px;
    width: auto;
    overflow-y: auto;
}

.location-info_hide-toggle {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
}

.hide {
    display: none;
}

.location-info_content_flickr-img img {
    width: 100%;
}


@media screen and (max-width: 768px) {
	
}

@media screen and (min-width: 769px){
	
}

